<section class="d-flex p-5">
  <div class="d-flex p-5">
      <h2 class="text-white">Create New Post</h2>
  </div>
  <div class="d-flex p-5">

    <form class="new-post-form border border-5 rounded-3 p-3">
      <div class="p-2">
        <label for="post-title" class="text-white m-2">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div class="p-2">
        <label for="message-body" class="text-white form-label">What's on your mind?</label>
        <textarea id="message-body" name="message" class="form-control" rows="4"></textarea>
      </div>
      <div class="d-flex p-3 justify-content-center">
      <button type="submit" class="btn btn-outline-light">Create</button>
      </div>
    </form>
  </div>
</section>

{{#if posts.length}}
<section class="d-flex p-5">
  <div class="d-flex p-5">
    <h2>Your Posts</h2>
    <ul>
      {{#each posts as |post|}}
      <li class="mb-2 p-2 d-flex justify-content-center border border-5 rounded-3">
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-outline-primary ms-5">Edit post</a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
