{{> post-info post }}
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body" class="mt-2 mb-2"></textarea>
    </div>

    <div>
      <button type="submit" class="btn btn-outline-light mt-2">add comment</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}